header {
    text-align: center;
    padding: 20px; /* Add padding for better visual appearance */
    background-color: #f0f0f0; /* Add background color if needed */
}

header img {
    max-width: 100%; /* Make sure the image doesn't exceed its container */
    height: auto; /* Maintain the aspect ratio of the image */
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    
}
h1 {
    font-family: 'Franklin Gothic Demi', sans-serif;
    color: #333;
    padding: 30px;
}

h2 {
    font-family: 'Franklin Gothic Demi', sans-serif;
    color: #333;
    padding: 30px;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    padding: 30px;
    margin-bottom: 20px;
}

/* Subtitle styling using Lato */
section h2 {
    font-family: 'Lato', sans-serif;
    color: #333;
    padding: 30px;
}

