header {
    text-align: center;
    padding: 5px; 
    background-color: #f0f0f0; 
}

header img {
    max-width: 60%; 
    height: auto; 
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    
}
h1 {
    font-family: 'Franklin Gothic Demi', sans-serif;
    color: #333;
    padding: 30px;
}

h2 {
    font-family: 'Franklin Gothic Demi', sans-serif;
    color: #333;
    padding: 30px;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    padding: 30px;
    align-content: center;
    margin-bottom: 10px;
}

/* Subtitle styling using Lato */
section h2 {
    font-family: 'Lato', sans-serif;
    color: #333;
    padding: 30px;
}

