header {
    text-align: center;
    padding: 5px; 
    background-color: #f0f0f0; 
}

header img {
    max-width: 60%; 
    height: auto; 
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    
}
h1 {
    font-family: 'Franklin Gothic Demi', sans-serif;
    color: #333;
    padding: 30px;
}

h2 {
    font-family: 'Franklin Gothic Demi', sans-serif;
    color: #333;
    padding: 30px;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    padding: 30px;
    align-content: center;
    margin-bottom: 10px;
    text-align: justify; 
}

/* Subtitle styling using Lato */
section h2 {
    font-family: 'Lato', sans-serif;
    color: #333;
    padding: 30px;
}

.page {
    width: 750px;
    background-color: white;
    margin: auto;
    padding: 70px;
    padding-top: 35px;
}

.vis-container {
    width: 100%;
}

.pure-g {
    margin-bottom: 25px;
}

.description-right {
    padding-left: 15px;
}

.description-left {
    padding-right: 15px;
}

